.container{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
}




.inputBox {padding:10px; border:#F0F0F0 1px solid; border-radius:4px;}
.error {background-color: #FF6600;border:#AA4502 1px solid;padding: 5px 10px;color: #FFFFFF;border-radius:4px; opacity: 40%;}
.success {background-color: #12CC1A;border:#0FA015 1px solid;padding: 5px 10px;color: #FFFFFF;border-radius:4px;}
.info {font-size:.8em;color: #FF6600;letter-spacing:2px;padding-left:5px;}
.btnAction {background-color:#2FC332;border:0;padding:10px 40px;color:#FFF;border:#F0F0F0 1px solid; border-radius:4px;}
.btnReload {background-color:#8B8B8B;border:0;padding:7px 10px;color:#FFF;float:left;}